# Nuxt build output
.output
.data
.nuxt
dist
node_modules
.wrangler

# Environment
.env
.env.*
!.env.example

# Local SQLite DB
data/*.sqlite
data/*.sqlite-journal
data/*.sqlite-wal
data/*.sqlite-shm
*.sqlite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
